@{
    ViewBag.Title = "About Me";
}
<h2 class="aboutheader">@ViewBag.Title</h2>
<div class="aboutpic">
    <img src="~/Content/mac.jpg" style="border-radius: 50%;">
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="jumbotron">
                    <h3>Past</h3>
                    <p class="aboutp">
                        I've always been extremely passionate about gaming. As I approached adulthood and began to think about what I wanted to do to make a living, I thought that
                        developing games would be a dream come true. So, for a couple years, I went to school for Game Design and Development. What I learned over the course of those
                        years was that I'm not just passionate about making games - I'm passionate about making software. Designing and creating content that others can interact with is
                        profoundly interesting to me.
                    </p>
                </div>
            </div>
        </div>

                <div class="item">
                    <div class="container">
                        <div class="jumbotron">
                            <h3>Present</h3>
                            <p class="aboutp">
                                Very recently I decided to participate in a program called SeedPaths. What I knew about SeedPaths was that it was an intensive software development bootcamp
                                that placed an extremely high priority on preparing graduates for employment in the development field. I'm about to graduate and I can honestly say I've learned more in terms of practical development skills in 6 weeks
                                at SeedPaths than I did from 2 years of standard college education. Now I'm looking to take those skills and put them to use.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="container">
                        <div class="jumbotron">
                            <h3>Future</h3>
                            <p class="aboutp">
                                In the future I see myself working as a full stack developer for an exciting company that strives to remain at the cutting edge of software development
                                technologies. Just a few years from now I plan to have the skillset necessary to work as a freelance developer, manage development projects for a large company, 
                                or work on my own Android/iOS applications.
                            </p>
                        </div>
                    </div>
                </div>
    </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




