@{
    ViewBag.Title = "Contact Mac";
}
<h2 class="contactviewbag">@ViewBag.Title</h2>
<br/>

<div class="container">
    <div class="jumbotron">
        <p style="font-size: 24px; color: white; text-align: center">I'm currenty looking for work as a software developer. If you're interested in learning more about what I can do, I encourage you to get in touch with me.</p>
        <br/>
        <p class="contactinfo">
            303.912.0551<br/>
            goutellmac@gmail.com
        </p>
    </div>   
</div>

