@{
    ViewBag.Title = "Home Page";
}



<div class="homepagequote">
    <br/>
    <i class='fa fa-arrows-alt faa-spin animated fa-3x'></i>
    <br/>
    <br/>
    
    You must understand that there is more than one path to the top of the mountain...

</div>



