
@{
    ViewBag.Title = "Mac's Resume";
}
<h2 class="resumeheader">My Resume</h2>

    
        <div class="resume-image">
            <iframe src="~/Content/MacGoutellResume.pdf" style="width:718px; height:920px;"> </iframe>
        </div>
   





